<main>
  <nav>
    <h1>Projects</h1>
  </nav>

  <div class="new-btn-wrapper">
    <button>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <rect x="10" width="4" height="24" />
        <rect
          x="10"
          width="4"
          height="24"
          transform="translate(24 0) rotate(90)"
        />
      </svg>
      <span>New Project</span>
    </button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      @for (project of projects; track $index) {
      <tr>
        <td>
          <a [routerLink]="['/projects', project.id]">
            {{ project.name }}
          </a>
        </td>
        <td>{{ project.createdAt | date : "short" }}</td>
      </tr>
      }
    </tbody>
  </table>
</main>
