<main>
  <mat-toolbar>
    <span>Projects</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="fetchProjects()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button (click)="projectModalContext.isOpen = true">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  
  <table mat-table [dataSource]="projects" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/projects', element.id]">
          {{ element.name }}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let element">{{ element.createdAt }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          (click)="deleteProject(element)"
          title="Delete Project"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunns"></tr>
    <tr mat-row *matRowDef="let row; columns: colunns"></tr>
  </table>
</main>

@if(projectModalContext.isOpen) {
<app-dialog (onDismiss)="projectModalContext.isOpen = false">
  <div class="create-project-wrapper">
    <div>
      <mat-form-field>
        <mat-label>Project Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Enter your project name"
          [formControl]="projectModalContext.name"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Project Description</mat-label>
        <textarea
          matInput
          title="description"
          [formControl]="projectModalContext.description"
        ></textarea>
      </mat-form-field>
    </div>

    <div class="button-wrapper">
      <button mat-button (click)="projectModalContext.isOpen = false">
        Cancel
      </button>
      <button
        mat-button
        (click)="saveProject()"
        [disabled]="projectModalContext.name.invalid"
      >
        Save
      </button>
    </div>
  </div>
</app-dialog>
}
